h1 {
  font-style: italic;
}
.js-quickedit-page-title {
  display: none;
}
div.court_selector {
  float: left;
  width: 25%;
  display: inline;
  padding-right: 2%;
}
div.participants {
  float: left;
  width: 50%;
  display: inline;
  padding-right: 2%;
}
.clearBoth {
  clear: both;
}

div.js-form-type-radio {
  float: left;
  display: inline;
  padding-right: 20px;
}
div.accomplice {
  float: left;
  width: 50%;
  display: inline;
  padding-right: 2%;
}

div.addSpace {
  padding-bottom: 5px;
}

.rounded {
  border-radius: 8px !important;
}
