{{ attach_library('rwanda/rwanda_login') }}

<h1>GACACA Digital Repository</h1>

<div class="row">
    <div class="column">

        <p>
            Welcome to the Gacaca Digital Archive , the only platform that will provide you with all the accurate
            information you need to know about the Gacaca Juristictions in Rwanda. Please look up our digital
            collections on Gacaca trials from its inception to its closure, as well as a wide range of of documentation
            on the National service of the Gacaca operations and any other documents related to Gacaca Courts.
        </p>
        <button onclick="location.href='/node/add/registrant'" type="button">
            Register
        </button>
    </div>
    <div class="column">
        <p>
            {{ form }}
        </p>

    </div>
</div>



